/*
 * Global application theme.
 * Framework overrides and customization goes here.
 */

// stylelint-disable-next-line selector-max-universal
* {
  box-sizing: border-box;
}

html,
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
}

html {
  font-size: 0.8125rem;
}
.mat-list-base .mat-list-item {
  font-size: 1rem;
}

/*SimpleNotification font-size*/
.simple-notification .sn-title {
  font-size: 16px !important;
  font-weight: 600;
}

.simple-notification .sn-content {
  font-size: 12px !important;
}
